/** @format */

@font-face {
  font-family: "PinkfongBabyShark";
  src: url("../assets/fonts/Pinkfong Baby Shark Font_ Regular.otf")
    format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PinkfongBabyShark";
  src: url("../assets/fonts/Pinkfong Baby Shark Font_ Medium.otf")
    format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PinkfongBabyShark";
  src: url("../assets/fonts/Pinkfong Baby Shark Font_ Bold.otf")
    format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
